@btnBgColor: transparent;
@btnBgColorHover: transparent;
@btnIconColor: @cBase;
@btnIconHoverColor: @bgAccent;
.header {
  height: auto;
}
.top-content .wrap--content{
  .slider_fix-load{
    position: relative;

    .single-slide{
      position: absolute;
      top: 0;
      left:0;

      &:first-child{
        position: relative;
        z-index:11;
      }
    }

    &.slick-initialized{
      .single-slide{
        position: static;
        top: auto;
        left:auto;

        &:first-child{
          position: static;
          z-index:0;
        }
      }
    }
  }
}



.top-content {
  .wrap--content {
    .single-slide {
      position: relative;
      video {
        display: block;
      }

      .video-js {
        display:block;
        width: 100%;
        height:100%;
        .vjs-tech {
          height: auto;
          position: static;
        }
      }
      // hide default player play button
      .vjs-big-play-button {
        display: none;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 52px;
      height: 208px;
      margin: auto;
      border: none;
      background: image-url('arrow.png') no-repeat center;
      background-size: 20px 30px;
      font-size: 0;
      cursor: pointer;
      z-index: 5;
      background-position: 32px;
      &.slick-next {
        right: 0;
        transform: rotate(180deg);
      }
      @media screen and (min-width:1025px) {
        &:hover {
          opacity: 0.5;
          transition: all 0.4s ease;
        }
      }
    }




    .video-cover {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      justify-content: space-between;
      box-shadow: inset 0 -121px 0 rgba(37, 43, 58, 0.8);
      .ad {
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        width: 121px;
        height: 20px;
        background-color: @bgAccent;
        color: #f9f9f9;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;
        text-align: center;
      }
      .controls {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        align-items: center;
        padding: 0 22px;
        .play {
          background: image-url('big-play.png') no-repeat;
          background-size: contain;
          width: 98px;
          height: 98px;
          display: block;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 2;
          @media screen and (min-width:1025px) {
            &:hover {
              cursor: pointer;
            }
          }
          @media screen and (max-width:1140px) {
            background: image-url('big-play-mobile.png') no-repeat;
            background-size: contain;
            width: 64px;
            height: 64px;
          }
        }
      }
      .video-info {
        width: 100%;
        height: 121px;
        padding: 0 30px;
        justify-content: space-between;
        .left {
          width: 100%;
          justify-content: center;
          .user {
            color: @cWhite;
            font-size: 20px;
            font-weight: 400;
            line-height: 50px;
            z-index: 1;
            margin-left: -5px;
          }
          label {
            &:before {
              #Sprite > .Heart(@cWhite);
            }
          }
          input[type="checkbox"]:checked + label {
            &:before {
              #Sprite > .Heart(@bgAccent);
            }
          }
          a {
            &:before {
              #Sprite > .Chat-bubble(@cWhite);
            }
          }
          @media only screen and (min-width: 1025px) {
            .user:hover {
              color: @bgAccent;
              transition: all 0.4s ease;
            }
          }
        }
        .right {
          flex-wrap: wrap;
          width: 100%;
          justify-content: flex-end;
          h3 {
            width: 100%;
            color: @cWhite;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 25px;
            text-align: right;
            margin-top: 48px;
            padding-right: 20px;

            span{
              color: @cWhite;
              font-family: "Roboto";
              font-weight: 400;
              font-size: 25px;
            }
          }
          .btn-add-remove-wrapper {
            .btn-add-remove-wrapper(@btnBgColor,@btnBgColorHover,@btnIconHoverColor,@btnIconHoverColor);
            label {
              &:after {
                color: @cWhite;
              }
            }
            width: auto;
            height: 50px;
            position: relative;
            margin-right: 20px;
          }
          input[type="button"] {
            width: 116px;
            height: 40px;
            line-height: 40px;
            border: none;
            border-radius: 3px;
            color: @cDark;
            font-size: 14px;
            font-weight: 400;
            z-index: 10;
          }

          &.right__biz{
            h3{
              margin-top: 20px;
              padding-right:0;
              margin-bottom: 10px;

              span{
                display: inline-block;
                width:120px;
                text-align: center;
              }
            }
            .btn-add-remove-wrapper{
              margin-right:0;

              label{
                justify-content: flex-end;
                padding-right: 10px;
              }
            }
            input[type="button"]{
              min-width:120px;
            }
          }
        }
      }
    }




    .feeds-btns-customer {
      width: 100%;
      height: 50px;
      display: none;
      .btn-add-remove-wrapper {
        background-color: #fff;
        width: 100%;
        position: relative;
        .btn-add-remove-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);
        label {
          &:after {
            color: @cWhite;
          }
        }
      }
      .btn-buy-elemnt {
        width: 100%;
        .btn-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);
        color: @cWhite;
        &:before {
          #Sprite > .Shopping-cart(@btnIconColor);
        }
        @media only screen and (min-width: 1025px) {
          &:hover {
            &:before {
              #Sprite > .Shopping-cart(@btnIconHoverColor);
            }
          }
        }
      }
    }
  }
}
.content-feed-page {
  height: auto;
  .filter-container {
    background-color: #f0f0f0;
    .filters-wrapper {
      width: 700px;
      border: none;
      .sd-wrapper {
        padding: 0;
        .sd-label .custom_string {
          color: silver;
          font-weight: 300;
          margin-left: 5px;
        }
        .sd-options {
          width: 100% !important;
          li:hover {
            border-radius: 0 0 5px 5px !important;
          }
        }
      }
    }
  }

  .feeds-content {
    display: inline-block;
    width: auto;
    padding: 35px 0;
    @media screen and (min-width: 1290px) and (max-width: 1440px) {
      display: table;
      margin: 0 auto;
    }
    .feeds-container {
      margin-bottom: 23px;
      margin-right: auto;
      margin-left: auto;
    }

  }

  [data-columns]::before {
    display: block;
    visibility: hidden;
    position: absolute;
    font-size: 1px;
  }

  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
  /* These are the classes that are going to be applied: */
  .column {
    float: left;
    margin: auto;
  }
  @media screen and (max-width: 767px) {
    .feeds-content {
      width: 100%;
    }
    #grid[data-columns]::before {
      content: '1 .column.size-1of1';
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1139px) {
    #grid[data-columns]::before {
      content: '2 .column.size-1of2';
    }
  }
  @media screen and (min-width: 1140px) {
    #grid[data-columns]::before {
      content: '3 .column.size-1of3';
    }
  }
  /* Again, you’re free to use and define the classes: */
  .column {
    float: left;
  }
  .size-1of1 {
    width: 100%;

  }
  .size-1of2 {
    width: auto;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  .size-1of3 {
    width: auto;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.video-cover_link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-content .wrap--content .video-cover__with-link{
  .controls{
    top: 50%;
    left: 50%;
    align-items: baseline;
    padding: 0;
    width: 98px;
    height: 98px;
    margin: -54px 0 0 -54px;
  }
}