/*Mixins*/
@btnBgColor:@cWhite;
@btnBgColorHover:@cWhite;
@btnIconColor:@cBase;
@btnIconHoverColor:@bgAccent;
.commment-optionns(@optionClass,@optionText) {
  div.@{optionClass} {
    position: relative;

    input[type="checkbox"] + label {
      display: flex;
      align-items:center;
      justify-content:center;
      min-width: 43px;
    }

    span.arrow {
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      bottom: -14px;
      left: 16px;
      transform: rotate(45deg);
      border-left: 1px solid #efeff1;
      border-top: 1px solid #efeff1;
      background-color: @cWhite;
    }

    input[type="checkbox"] + label {

      &:before{
        font-size: 13px;
        font-weight: 500;
        color:@cBase;

      }
    }

    input[type="checkbox"]+label {

      &:before{
        content: @optionText;

        @media screen and (max-width: 640px) {
          font-size:11px;
        }

      }

      @media screen and (min-width: 1025px) {

        &:hover{
          cursor: pointer;

          &:before{
            color: @bgAccent;
            transition: all .4s ease;
          }
        }
      }
    }

    input[type="checkbox"]:checked+label {

      &:before{
        content: 'Cancel';
        font-size: 13px;
        font-weight: 500;
        color:#ffc200;
        @media screen and (max-width: 640px){
          font-size:11px;
        }
      }
    }

    input[type="checkbox"]:checked + label + span.arrow{
      display: block;
    }
  }
}
/*End*/
.feeds-container,
.feeds-container-user {
  margin: auto auto 30px;
  width: 360px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(24, 28, 40, 0.1);
  background-color: @cWhite;

  .feeds-box,
  .feeds-action {
    width:100%;
    height: auto;
  }
  &.eliminated {
    opacity: 0.35;
    pointer-events: none;
  }
}

.feeds-box,
.feeds-box-contest {
  .feeds-header-creative,
  .feeds-header-customer,
  .feeds-header-user {
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0 0 0 17px;
    align-items: center;
    .user-wrap{
      height: 44px;
    }
    .user {
      color:@cBase;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
    }
    a.btn {
      margin: 20px;
    }

    .feeds-indicator-container {
      display: flex;
      align-items: center;
      justify-content: center;

      input[type=button],
      a.btn {
        margin: 20px;
      }
    }

    input[type="checkbox"]:checked +label {

      &:after{
        opacity: 1;
        visibility: visible;
      }

      &:before{
        opacity: 0;
        visibility: hidden;
      }
    }

    @media only screen and (min-width: 1025px) {

      .user:hover{
        color: @bgAccent;
        transition: all .4s ease;
      }
    }
  }
  //Use for creative feeds
  .feeds-header-creative {

    .feeds-indicator-container {

      margin-left:auto;
    }

  }
  .feeds-header-contest {
    div {
      position: relative;
      width: 100%;
      height: 85px;
      margin-left: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: @cBase;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
      }
      p {
        color: @cBase;
        font-size: 14px;
        font-weight: 400;
      }
      .brand-logo {
				position: absolute;
				top: 0;
				left: -85px;
				width: 85px;
				height: 85px;
				background-size: 46px auto;
				background-position: center;
				background-repeat: no-repeat;
			}
      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: -85px;
      //   width: 85px;
      //   height: 85px;
      //   background-image: url('../img/bmw-logo.png');
      //   background-size: 46px 46px;
      //   background-position: center;
      //   background-repeat: no-repeat;
      // }
    }
    input[type="button"] {
      border-radius: 3px;
      margin: 0 20px 0 0;
      display: inline-flex;
      align-self: center;
    }
  }
  .feeds-header-user {
    align-items: center;
    padding: 20px;
    height: auto;
    div:first-child {
      display: flex;
      > a {
        line-height: normal;
        margin-bottom: 10px;
      }
      .feeds-indicator-container {
        margin-left: 5px;
      }
      .user-profile {
        display: none;
      }
    }
    .btn--grey-ssmall {
      border-radius: 5px;
    }
  }
  .feeds-video,
  .feeds-video-contest {
    width: 100%;
    height: 203px;
    position: relative;

    a.link {
      width:100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &:after {
        position: absolute;
        content: '';
        bottom:0px;
        left:0px;
        opacity: 0.8;
        background-size: 362px 200px;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+50,000000+100&0+50,0.65+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      }
    }

    .video,
    .vjs-video-wrap,
    img {
      height: 100%;
      width:100%;
    }

    span.signature,
    a.price {
      position: absolute;
      bottom: 20px;
      color: @cWhite;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 25px;
    }

    span.signature {
      left:20px;
      cursor: default;
      user-select: none;
      a {
        min-width: auto;
        justify-content: flex-start;
        margin-left: 25px;
        &:before {
          #Sprite > .profile(@bgAccent);
        }
      }
      p {
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }
    a.price {
      width: auto;
      display: inline;
      align-items: center;
      right: 20px;

      &:before {
        content: '';
        #Sprite > .Price-tag();
        width: 19px;
        height: 19px;
        background-size: contain;
        margin-right: 8px;
        position: absolute;
        top:2px;
        left: -29px;
      }
    }
  }
  &:last-child {
    .feeds-video,
    .feeds-video-contest {
      a.link {
        .video {
          border-radius: 0 0 5px 5px;
        }
        &:after {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}

.feeds-action {

  .feeds-btns-customer{
    width:100%;
    height: 50px;

    .btn-add-remove-wrapper {
      width:100%;
      position: relative;

      .btn-add-remove-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);

      &:after {

        content: '';
        border: 1px solid #e9ecee;
        height: 100%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .btn-buy-elemnt {
      width: 100%;
      .btn-wrapper(@btnBgColor, @btnBgColorHover, @btnIconColor, @btnIconHoverColor);
      &:before {

        #Sprite > .Shopping-cart(@btnIconColor);

      }

      @media only screen and (min-width: 1025px) {
        &:hover {
          &:before {
            #Sprite > .Shopping-cart(@btnIconHoverColor);

          }

        }
      }
    }
  }
  .feeds-btns-creative {
    width: 100%;
    height: 50px;
    position: relative;

    .btn-add-to-wishlist {
      width:100%;
      position: relative;

      .btn-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);

      &.remove {
        &:before {

          #Sprite > .Cross(@btnIconColor);
          transform: rotate(45deg);
          transition: all 0.4s ease;
        }

      }

      &:before {

        #Sprite > .Cross(@btnIconColor);
        transition: all 0.4s ease;
      }

      &:after {

        content: '';
        border: 1px solid #e9ecee;
        height: 100%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
      }

      @media only screen and (min-width: 1025px) {
        &:hover {
          &:before {
            #Sprite > .Cross(@btnIconHoverColor);

          }

        }
      }
    }

    .separator{
      border: 1px solid #e9ecee;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;
    }

    .btn-edit {
      width:100%;
      position: relative;

      .btn-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);

      &:before{
        display: none;
      }

      .icon{
        width: 14px;
        height: 14px;
        background-size: contain;
        background-position: 50% 50%;
        margin-right: 8px;
        position: relative;

        &:before {
          content: '';
          width: 14px;
          height: 14px;
          background-size: contain;
          background-position: 50% 50%;
          position: absolute;
          top: 0;
          left:0;

          #Sprite > .edit(@btnIconColor);
        }

        &:after {
          content: '';
          width: 14px;
          height: 14px;
          background-size: contain;
          background-position: 50% 50%;
          position: absolute;
          top: 0;
          left:0;

          #Sprite > .edit(@btnIconHoverColor);

          opacity: 0;
          visibility: visible;
          transition: all .4s ease;
        }
      }

      &:hover{
        .icon{
          &:after{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .btn-buy-now {

      width:100%;

      .btn-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);

      &:before {

        #Sprite > .Shopping-cart(@btnIconColor);
        transition: all .4s ease;

      }

      @media only screen and (min-width: 1025px) {
        &:hover {
          &:before {
            #Sprite > .Shopping-cart(@btnIconHoverColor);

          }

        }
      }
    }

    .btn-remove {

      width:100%;

      .btn-wrapper(@btnBgColor,@btnBgColorHover,@btnIconColor,@btnIconHoverColor);

      &:before{
        display: none;
      }

      .icon{
        width: 14px;
        height: 14px;
        background-size: contain;
        background-position: 50% 50%;
        margin-right: 8px;
        position: relative;

        &:before {
          content: '';
          width: 14px;
          height: 14px;
          background-size: contain;
          background-position: 50% 50%;
          position: absolute;
          top: 0;
          left:0;

          #Sprite > .Cross(@btnIconColor);
          transform: rotate(45deg);
        }

        &:after {
          content: '';
          width: 14px;
          height: 14px;
          background-size: contain;
          background-position: 50% 50%;
          position: absolute;
          top: 0;
          left:0;

          #Sprite > .Cross(@btnIconHoverColor);
          transform: rotate(45deg);

          opacity: 0;
          visibility: visible;
          transition: all .4s ease;
        }
      }

      &:hover{
        .icon{
          &:after{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .feeds-last-comment {
    width:100%;
    height: auto;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #e7e8ea;

    h3 {
      font-family: 'Roboto';
      color: @cDark;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    p {
      color: @cBase;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .feeds-comment {
    height: 40px;
    width: 100%;
    padding: 0 22px 0 20px;

    .feeds-comment-actions,
    .feeds-comment-indicator{
      width: 100%;
      display: flex;
      align-items:center;

      .divider {
        height: 1px;
        width:2px;
        margin: 0px 10px;
        background-color: #bfc1c7;
      }
      .replies, .likes {
        color: @cBase;
        cursor: pointer;
        span {
          font-size: 13px;
          font-weight: 500;
          color: @cBase;
          @media only screen and (min-width: 1025px) {

            &:hover {
              color: @bgAccent;
              cursor: pointer;
              transition: all .4s ease;
            }
          }
        }
      }
    }

    .feeds-comment-action{
      flex-direction:row-reverse;
      justify-content:flex-start;
    }
    .feeds-comment-indicator{
      justify-content:flex-end;
    }
    .commment-optionns(reply,'Reply');
    .commment-optionns(share,'Share');
    .commment-optionns(likes,'Likes');
  }

  .feeds-last-comment {
    width:100%;
    height: auto;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #e7e8ea;

    h3 {
      font-family: 'Roboto';
      color: @cDark;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    p {
      color: @cBase;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .feeds-comment{
    height: 40px;
    width: 100%;
    padding: 0 22px 0 20px;

    .feeds-comment-actions,
    .feeds-comment-indicator {
      width: 100%;
      display: flex;
      align-items:center;

      .divider {
        height: 1px;
        width:2px;
        margin: 0px 10px;
        background-color: #bfc1c7;
      }

      .replies {
        font-size: 13px;
        font-weight: 500;
        color:@cBase;

        @media only screen and (min-width: 1025px) {

          &:hover {
            color:@bgAccent;
            cursor: pointer;
            transition: all .4s ease;
          }
        }
      }
    }

    .feeds-comment-action {
      flex-direction:row-reverse;
      justify-content:flex-start;
    }

    .feeds-comment-indicator {
      justify-content:flex-end;
    }

    .commment-optionns(reply,'Reply');
    .commment-optionns(share,'Share');
    .commment-optionns(likes,'Likes');
  }

  .reply-comment-container{
    width: 100%;
    height: auto;
    flex-direction:column;
    border-top: 1px solid #efeff1;
    padding: 20px;

    &.active {
      display: flex;
    }

    h3 {
      font-family: 'Roboto';
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 400;
      color: @cBase;

      span {
        color:@cDark;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      display: flex;
      width: auto;
      height: 42px;

      input[type="text"] {
        background-color: #f9f9f9;
        width:250px;
        border:none;
        border-radius: 3px 0 0 3px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 400;
      }

      input[type="text"]::-webkit-input-placeholder {
        color: @cBase;
        font-size: 14px;
        font-style: italic;
      }

      input[type="submit"]{
        width:70px;
        border:none;
        background-color: #b7b9bf;
        border-radius: 0 3px 3px 0px;
        color: #f9f9f9;
        font-size: 14px;
        font-weight: 400;

        @media only screen and (min-width: 1025px) {

          &:hover{
            color: #383f4e;
            background-color: @bgAccent;
            cursor: pointer;
            transition: all .4s ease;
          }
        }
      }
    }
  }

  .recent-likes-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
    padding:20px;
    border-top: 1px solid #efeff1;
    &.active {
      display: flex;
    }
    h3 {
      font-family: 'Roboto';
      color: @cBase;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    .liked-by-expand {
      position: relative;
      display: block;
      width:44px;
      height: 44px;
      background-color: @cWhite;
      display: flex;
      justify-content:space-around;
      align-items:center;

      .dot {
        position: relative;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: @cBase;

        &:before, &:after{
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          margin: auto;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: @cBase;
          display: block;
        }

        &:before{
          left: -14px;
        }

        &:after{
          right: -14px;
        }
      }
    }

    @media only screen and (min-width: 1025px) {

      .liked-by-expand:hover {

        .dot {
          background-color: @bgAccent;
          transition: all .4s ease;

          &:before, &:after {
            background-color: @bgAccent;
            transition: all .4s ease;
          }
        }
      }
    }
  }

  .share-with-container {
    display: none;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    height: auto;
    width: 100%;
    padding:20px;
    border-top: 1px solid #efeff1;

    &.active {
      display: flex;
    }

    h3 {
      font-family: 'Roboto';
      color: @cBase;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
    }


    .share-with-option li .s-icon {

      &--fb {
        // height: 26px;
        #Sprite > .fb(#d7d9de);
        background-size: 25px 26px;
      }

      &--yt {
        // height: 19px;
        #Sprite > .yt(#d7d9de);
        background-size: 25px 19px;
      }

      &--tw {
        // height: 21px;
        #Sprite > .tw(#d7d9de);
        background-size: 25px 21px;
      }

      &--gp {
        // height: 24px;
        #Sprite > .gp(#d7d9de);
        background-size: 25px 24px;
      }

      &--vm {
        // height: 23px;
        #Sprite > .vm(#d7d9de);
        background-size: 25px 23px;
      }

      &--in {
        // height: 26px;
        #Sprite > .in(#d7d9de);
      }


      @media only screen and (min-width: 1025px) {

        &--fb:hover {
          #Sprite > .fb(@bgAccent);
        }

        &--yt:hover {
          #Sprite > .yt(@bgAccent);
        }

        &--tw:hover {
          #Sprite > .tw(@bgAccent);
        }

        &--gp:hover {
          #Sprite > .gp(@bgAccent);
        }

        &--vm:hover {
          #Sprite > .vm(@bgAccent);
        }

        &--in:hover {
          #Sprite > .in(@bgAccent);
        }
      }
    }
  }

  .unavailable-view-container {
    display: none;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    height: auto;
    width: 100%;
    padding:20px;
    border-top: 1px solid #efeff1;

    &.active{
      display: flex;
    }

    .close-wrapper {
      display: flex;
      justify-content:flex-end;

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background-size: contain;
        background-position: 50% 50%;
        transform: rotate(45deg);
        #Sprite > .Cross();

        @media only screen and (min-width: 1025px) {

          &:hover{
            #Sprite > .Cross(@bgAccent);
            cursor: pointer;
          }
        }
      }
    }

    p {
      font-family: 'Roboto';
      color: @cBase;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
      position: relative;
      margin-left:52px;

      &:before {
        content: '';
        position: absolute;
        left: -52px;
        top: 0;
        width: 40px;
        height: 40px;
        background: asset-url('svg/contest.svg') no-repeat;
        background-position: 0;
      }

      a {
        display: inline-flex;
        color:@bgAccent;
        font-size: 11px;
        font-weight:700;
      }
    }
  }
}
.packshot-header-cont{
  position: relative;
  width:100%;
  padding-right:140px;

  .btn{
    position: absolute;
    top: 50%;
    right: 17px;
    height: 30px;
    line-height:30px;
    margin-top: -15px;
  }
}
.packshot-header-title{
  padding: 13px 0 13px 0;
  text-transform: uppercase;
  color: #878b96;
}
@media only screen and (max-width: 640px){
  .packshot-header-cont{
    padding-right:90px;
  }
}
