%form.step#previewStep{ ng: { class: '{ collapse: vm.ui.collapsed }', if: 'vm.ui.isAvailable()' } }
  .flex.flex--desktop-mobile-flow.step-preview
    %div{ ng: { click: 'vm.ui.onCollapse()'} }
      %label{ ng: { class: 'vm.ui.collapsed ? "collapsed" : "main"' } }
        %span AD Preview

  .ad-preview-wrap
    .preview.ad_preview
      .video_preview_inner(ng-if="!vm.vjs.paused")
        %video.video.video-js.vjs-default-skin{ vjs: { video: '', media: 'vm.vjs.media', setup: 'vm.vjs.options', ratio: '427:240' } }
      .not_available{ ng: { if: 'vm.post.preview_job' } }
        .header Preview Not Available
        .status{ ng: { switch: 'vm.post.preview_job.state' } }
          .title Conversion status
          -#.prompt Approximate time remaining
          .time{ ng: { switch: { when: 'splitting' } } } Step 2 of 4. Splitting on video and audio.
          .time{ ng: { switch: { when: 'performing video' } } } Step 3 of 4. Segmenting video.
          .time{ ng: { switch: { when: 'performing audio' } } } Step 4 of 4. Segmenting audio.
          .time{ ng: { switch: { default: '' } } } Step 1 of 4
          -#.time 01:35 min
      .player-ready{ ng: { show: 'vm.ui.canPlay()', click: 'vm.ui.onPlay()' } }
        .player-ready_big-play