%form.step#step3{ ng: { class: '{ collapse: ui.collapsed }' } }
  .flex.flex--desktop-mobile-flow.step3
    %div{ ng: { click: 'ui.collapsed = !ui.collapsed'} }
      %label{ ng: { class: 'ui.collapsed ? "collapsed" : "main"' } }
        %span AD Details
        %span{ ng: { show: 'ui.saved' } } (Saved)

  .popup.popup__steps{ ng: { if: 'ui.is_dialog' }}
    .popup_overlay{ ng: { click: 'ui.onMeans()' } }
    .popup_win
      .popup_btn-close{ ng: { click: 'ui.onMeans()' } }
      .popup_header.title= I18n.t 'posts.new.step3.creative.means'
      .popup_content
        %table.popup_table
          %thead.popup_table_header
            %tr.popup_table_header_tr
              %td.popup_table_header_td
                = I18n.t 'posts.preview.header.description'
              %td.popup_table_header_td
                = I18n.t 'posts.preview.header.price'
          %tbody
            %tr.popup_table_tr
              %td.popup_table_td
                = I18n.t 'posts.preview.video_price'
              %td.popup_table_td
                ${{post.price}}
            %tr.popup_table_tr
              %td.popup_table_td.popup_table_td__p0
                = I18n.t 'posts.preview.music_price'
                %span.popup_table_small-text You don't have to worry. Brand pays for the Music
              %td.popup_table_td
                $50
            %tr.popup_table_tr
              %td.popup_table_td
                = I18n.t 'posts.preview.total_price'
              %td.popup_table_td
                ${{post.price + ui.music_price}}
            %tr.popup_table_tr
              %td.popup_table_td.popup_table_td__p0
                = I18n.t 'posts.preview.fees', fee: 0
                %span.popup_table_small-text this offer is valid until September 12th, 2016
              %td.popup_table_td
                $0
            %tr.popup_table_tr.popup_table_tr__total
              %td.popup_table_td
              %td.popup_table_td
                %span.popup_table_desc
                  #{I18n.t 'posts.preview.will_receive'}
                %span.popup_table_price
                  {{ui.price('receive')}}

  .flex.flex--desktop-mobile-flow.set_price
    %div
      %label{ for: 'set_price'}
        Set Price:
      #set_price{ range: 'range', value: 'form.price', on: { change: 'ui.onChange()' } }
        %span Free
        .range.flex.flex--row
          %span $100
          %span $2000
      .total
        .price
          #{I18n.t 'posts.new.step3.creative.total_price'}: ${{ui.price('total')}}
        .means{ ng: { click: 'ui.onMeans()'} }= I18n.t 'posts.new.step3.creative.means'

    %div
      %label Choose Category
      %select#category{ ng: { options: 'category.name for category in data.categories track by category.id', model: 'form.category', change: 'ui.onChange()' } }
      %label AD Description
      %textarea{ rows: 4, cols: 40, ng: { model: 'form.description', blur: 'ui.onChange()' } }
      %label Add #hashtags  to your AD:
      %tag-editor{ ng: { model: 'form.tags' }, output: 'name', on: { change: 'ui.onChange()' } }
