%form.step#step1{ ng: { class: '{ collapse: ui.collapsed }' } }
  .flex.flex--desktop-mobile-flow
    %div{ ng: { click: 'ui.collapsed = !ui.collapsed'} }
      %label.main{ ng: { class: 'ui.collapsed ? "main" : "collapsed"' } }
        Step 1:
        %span Upload
        %span{ ng: { show: 'ui.saved' } } (Saved)
  %style{type: 'text/css'}
    :plain
      .drop.drop--customer { position: relative; }
      .dropFile input[type="file"] {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
      }
      input[type=range][orient=vertical] {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 175px;
        padding: 0 5px;
      }
  .flex.flex--desktop-mobile-flow
    %div
      %h2 Upload your video ad
      %ul
        %li
          %p - Video Ads must be either 15 or 30 seconds
        %li
          %p
            \- Leave the last 3 seconds blank for Brand Logo
            %a.link-yellow.js-play-video{href:""} Watch how!
        %li
          %p - Use H.264 codec; 30-fps MOV file; 1920x1080 res.
      .popup.popup__play-video
        .popup_overlay
        .popup_win
          %video.popup_video.video-js.vjs-default-skin{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "264", :poster => "/images/tutorial_packshot.jpg", :preload => "auto", :width => "640", :"vjs-470-264" => ""}
            %source{:src => "/landing/tutorial_packshot/list.m3u8", :type => "application/x-mpegURL"}
      -#.flex.flex--desktop-mobile-flow
        %a.btn.btn--lg.btn--inactive{ target: :_blank, ng: { show: 'post.video.file_name', href: '{{post.video.url}}' } }
          Preview AD
    -# drop file here
    .drop-video{ ng: { if: '!ui.is_uploading && !post.video.file_name' }, 'drop-file': true }
      .drop.drop--customer
        .stage.stage--choose.flex.flex--column
          -# %span.drop-icon Drag &amp; Drop your video or
          %span.drop-icon Select your video
          %input#upload-video-step1{ type: 'file', name: 'file', 'upload-file': '', params: 'ui.upload.params', 'before-request': 'ui.beforeRequest($data, $callback)', 'on-request-process': 'ui.onRequestProcess($percent_complete)', on: { request: { success: 'ui.onRequestSuccess($data)', error: 'ui.onRequestError($errors)' } } }
          %label.btn.btn--grey.browse{ for: 'upload-video-step1' } Browse
        .attribute{ ng: { repeat: '(attribute, errs) in errors' } }
          .error-message{ ng: { repeat: 'error in errs' } } {{error}}
    -#END drop file here
    .uploading{ ng: { if: 'ui.is_uploading' } }
      .drop.drop--customer
        .stage.stage--uploading.flex.flex--column
          %span.align #{I18n.t 'posts.new.step1.uploading'} {{ui.uploading_percent}}%
          %span.load
            .indicator{ style: 'width: calc({{ui.uploading_percent}} * 1%);' }
    .prev-delete-video.errorng{ ng: { if: '!ui.is_uploading && post.video.file_name' } }
      .drop.drop--customer
        .stage.flex.flex--row
          %span
            {{post.video.file_name}}
            %small
              #{I18n.t 'posts.new.step1.file_size'}: {{post.video.ui.file_size}}
          %button.btn.btn--grey{ ng: { click: 'ui.onVideoDelete()', show: '!post.preview_job' } }= I18n.t 'navigate.delete'