%form.step#step2{ ng: { class: '{ collapse: ui.collapsed }' } }
  .flex.flex--desktop-mobile-flow
    %div{ ng: { click: 'ui.collapsed = !ui.collapsed'} }
      %label{ ng: { class: 'ui.collapsed ? "collapsed" : "main"' } }
        %span Packshot
        %span{ ng: { show: 'ui.saved' } } (Saved)

  .taber-container.taber-container--light.flex{ ng: { if: '!ui.isPreviewKind()' } }
    %input#rnd-packshot{ type: :radio, name: :options, value: 'generate', ng: { model: 'service.state', click: "ui.onCreateKind('generate')" } }
    %label.tab-option.tab-option--left.active{ for: 'rnd-packshot'}
      %span Generate packshot?
    %input#have-packshot{ type: :radio, name: :options, value: 'upload', ng: { model: 'service.state', click: "ui.onCreateKind('upload')" } }
    %label.tab-option{ for: 'have-packshot' }
      %span Already have a packshot? Upload it!

  .preview.video_preview{ ng: { if: 'ui.isPreviewKind()' } }
    .video_preview_inner
      %video.video.video-js.vjs-default-skin{ vjs: { video: '', media: 'vjs.media', setup: 'vjs.options' } }
    .video_preview_btn-wrap
      %button.btn.btn--yellow.btn--xs{ ng: { click: 'ui.onScroll()' } }= I18n.t 'navigate.save'
      %button.btn.btn--grey.btn--xs{ ng: { click: 'ui.onEdit()', show: '!ui.isEditKind()' } }= I18n.t 'navigate.edit'

  .flex.flex--desktop-mobile-flow.packshot-wrap
    %div
      %h2
        Please enter a Brand Name and Brand Slogan
        %br
        for your desired company
      %ul
        %li
          %p - Example 1: Nike – Just Do It
        %li
          %p - Example 2: Red Bull – Gives You Wings
        %li
          %p - Example 3: BMW – The Ultimate Driving Machine
      .flex.flex--desktop-mobile-flow.btn-packshot-wrap
        %a.btn.btn--lg.btn--packshot{ ng: { if: 'service.models.current().video_job' } }
          %span Creating packshot
        %a.btn.btn--lg.btn--packshot{ ng: { click: 'ui.onPreview()', if: 'ui.canPreview()', class: "{ 'btn--yellow-normal': ui.is_ready }" } }
          %span Preview packshot
    %div{ ng: { show: "service.state == 'generate'" } }
      %label
        Brand name:
      %input{ placeholder: 'Enter brand name', ng: { class: '{ warning: errors.brand_name }', model: 'service.edit.name', change: 'ui.onChange()' } }
      .error-message{ ng: { repeat: 'error in errors.brand_name' } } {{error}}
      %br
      %label
        Brand slogan:
      %input{ placeholder: 'Enter brand slogan', ng: { class: '{ warning: errors.slogan }', model: 'service.edit.slogan', change: 'ui.onChange()' } }
      .error-message{ ng: { repeat: 'error in errors.slogan' } } {{error}}
      %button.btn.btn--grey.btn--xs.save-packshot{ ng: { click: 'ui.onSave()', show: 'service.changed && ui.is_ready' } }= I18n.t 'navigate.save'

    .drop-video-box{ ng: { show: "service.state == 'upload'" } }
      .drop-video.drop-video__right
        %div.input-wrap{ ng: { show: 'ui.can_choose' } }
          %label Select from your library
          %select#packshot.fix-select{ ng: { options: 'ps.ui.name for ps in data.packshots track by ps.id', model: 'service.models.chosen', disabled: '!ui.is_ready', show: 'ui.can_choose', change: 'ui.onPackshot()' } }

        .drop.drop--customer{ ng: { if: 'ui.canUpload()' }, 'drop-file': true }
          .stage.stage--choose.flex.flex--column
            %span.drop-icon Drag &amp; Drop your packshot or
            %input#upload-video-step2{ type: 'file', name: 'packshot[image]', 'upload-file': '', params: 'ui.upload.params', 'before-request': 'ui.upload.onBefore($data, $callback)', 'on-request-process': 'ui.upload.onProcess($percent_complete)', on: { request: { success: 'ui.upload.onSuccess($data)', error: 'ui.upload.onError($errors)' } } }
            %label.btn.btn--grey.browse{ for: 'upload-video-step2' }
              Browse
        .drop.drop--customer.process{ ng: { if: 'ui.upload.percent' } }
          .stage.stage--uploading.flex.flex--column
            %span.align #{I18n.t 'posts.new.step1.uploading'} {{ui.upload.percent}}%
            %span.load
              .indicator{ style: 'width: calc({{ui.upload.percent}} * 1%);' }

        .drop.drop--customer_dark.delete-prev{ ng: { if: '!service.models.chosen && service.edit.existsImage()' } }
          .stage
            .stage_table
              .stage_cell
                %span.file-prev
                  {{service.models.upload.image.file_name}}
                  %small File size: {{service.models.upload.image.ui.file_size}}
            %input{ name: 'some_name', type: 'hidden' }
              %label.btn.btn--blue{ for: '#', ng: { click: 'ui.onRemoveAttachment()' } }= I18n.t 'navigate.delete'
          .error-message{ ng: { repeat: 'error in errors.image' } } {{error}}

        .save_in_my_packshot{ ng: { show: 'ui.can_choose && !service.models.chosen' } }
          %input#save_to{ type: 'checkbox', name: 'save_to', ng: { model: 'service.models.upload.in_library', change: 'ui.onInLibrary()', disabled: '!ui.is_ready' } }
            -#%label{ for: 'save_to' }
            -#  Save in My Packshot
        %input.btn.btn--blue-large{ name: 'Upload', type: 'button', value: I18n.t('navigate.upload'), ng: { show: 'service.models.chosen', click: 'ui.toUpload()' } }
