.ad-details
  .details.details--header.flex.flex--row
    %aside.flex.flex--row
      %figure.user-img
        %img{ alt: 'Avatar', ng: { src: '{{post.owner.avatar}}' } }
      .flex.flex--row.align
        %a.username{ ng: { href: '{{post.owner.url}}' } } {{post.owner.user_name}}
        .category.flex.flex--row{ ng: { if: 'post.category.name' } }
          %span Category:
          %a{ ng: { href: '{{post.category.url}}' } } {{post.category.name}}
    %aside.flex.flex--row
      %input#watch{ type: 'checkbox' }
      %label.common-icons.common-icons--watch{ for:'watch' }
        {{post.total_views_count}}
      %input#likes{ type: 'checkbox', ng: { model: 'post.is_liked', change: 'like()' } }
      %label.common-icons.common-icons--likes{ for: 'likes' }
        {{post.likes_count}}
  .details.details--published.flex.flex--column
    %input#read{ type: 'checkbox' }
    %label.more{ for: 'read', ng: { if: 'read_more' } } read less
    %article.flex.flex--column
      %h3 Published on {{post.ui.created_at}}
      %p
        {{post.description}}
  .details.details--liked.flex.flex--column{ ng: { show: 'post.likes_count > 0' } }
    %h3 Who liked this video:
    %input#view{ type: 'checkbox' }
    -#%label.more{ for: 'view' } view more
    .recent-likes
      %a.liked-by{ ng: { repeat: 'user in post.likes.users', href: '{{user.url}}' } }
        %img{ alt: '{{user.user_name}}', ng: { src: '{{user.avatar}}' } }
  .details.details--social.flex.flex--row
    %aside.htags
      %a{ ng: { repeat: 'tag in post.tags' } } \#{{tag.name}}
    %aside.align.flex.flex--row
      %input#share{ type: 'checkbox' }
      %label.common-icons.common-icons--share{ for: 'share' }
      %ul.share-with-option.flex.flex--row
        %li
          %a.s-icon.s-icon--fb{ href: '#' }
        %li
          %a.s-icon.s-icon--yt{ href: '#' }
        %li
          %a.s-icon.s-icon--tw{ href: '#' }
        %li
          %a.s-icon.s-icon--gp{ href: '#' }
        %li
          %a.s-icon.s-icon--vm{ href: '#' }
        %li
          %a.s-icon.s-icon--in{ href: '#' }
