.wrap.wrap--my-ads
  #grid.feeds-content{ data: { columns: true } }
    .column{ ng: { repeat: 'column in columns.data', class: 'columnClass' }, infinite: { scroll: 'infinite.onScroll()', 'scroll-disabled': '!infinite.is_ready', 'scroll-distance': 0 } }
      %feed{ feed: 'feed', reply: 'reply', user: 'user', profile: 'profile', market: 'market', on: { remove: 'onRemove(id)' }, ng: { repeat: '(index, feed) in feeds', if: 'index % columns.count == column' } }
