.feeds-container(ng-show="vjs.is_poster_ready")
  .feeds-box
    .flex{ ng: { class: 'headerClass()' } }
      .user-wrap
        %a.user{ ng: { hide: 'profile', href: '/profile/{{feed.owner.id}}' } } {{feed.owner.user_name}}
      .feeds-indicator-container
        %input{ type: 'checkbox', id: 'feeds-likes-link-{{feed.id}}', ng: { model: 'feed.is_liked', change: 'like()' } }
        %label.common-icons.common-icons--likes{ for: 'feeds-likes-link-{{feed.id}}' } {{feed.likes_count}}
        %a.common-icons.common-icons--comments{ ng: { href: '/posts/{{::feed.id}}#comments' } } {{feed.comments_count}}
    .feeds-video
      .image-block(ng-show="vjs.is_poster_ready && !vjs.is_ready")
        %img.poster(ng-src="{{vjs.options.poster}}" load-image="" on-load="vjs.is_poster_ready = true" load-src="vjs.options.poster" ng-show="vjs.is_poster_ready && !vjs.is_ready")
      .video-block(ng-show="vjs.is_ready")
      %a.link(ng-href="/posts/{{feed.id}}" ng-if="ui.is_ready" ng-style="{ opacity: vjs.is_ready ? 1 : 0 }")
        %video.video.video-js.vjs-default-skin{ vjs: { video: '', media: 'vjs.media', setup: 'vjs.options' } }
      -#%span.signature{ ng: { if: 'feed.category' }} {{feed.category.name}}
      %a.price{ ng: { show: '::sold' } }= I18n.t 'navigate.sold'
      %a.price{ ng: { hide: '::sold', href: '{{can_buy && feed.ui.buy_now_path || null}}' } }
        {{feed.price ? feed.ui.price : 'FREE'}}
  .feeds-action
    .feeds-btns-creative.flex{ ng: { show: '!bought && !sold && can_manage' } }
      %a.btn-edit.flex{ ng: { href: '/posts/{{feed.id}}/edit' } }
        %i.icon
        = I18n.t 'navigate.edit'
      %span.separator
      %a.btn-remove.flex{ ng: { href: '#delete', click: 'remove()' } }
        %i.icon
        = I18n.t 'navigate.remove'
    .feeds-btns-creative.flex(ng-switch="feed.ui.build_video.status" ng-show="bought")
      -# download
      %a.btn-edit.flex(ng-switch-when="download" ng-href="{{::feed.ui.build_video.url}}")= I18n.t 'navigate.download'
      %a.btn-edit.flex(ng-switch-when="in_process" href="javascript:;")= I18n.t 'navigate.in_process'
      %a.btn-edit.flex(ng-switch-when="build" ng-href="{{::feed.ui.build_video.url}}")= I18n.t 'navigate.build'
      %a.btn-remove.flex(ng-href="/posts/{{feed.id}}/change_packshot" ng-show="feed.ui.build_video.status != 'in_process'")= I18n.t 'navigate.change_packshot'
    // .feeds-btns-creative.flex{ ng: { show: '::sold' } }
    //   %a.btn-buy-now.flex= I18n.t 'navigate.sold'
    .feeds-btns-creative.flex{ ng: { show: '::can_buy' } }
      %a.btn-add-to-wishlist.flex{ ng: { click: 'wish()', class: 'feed.is_wished == true ? "remove" : ""' } }
        %div{ ng: { hide: 'feed.is_wished'} }= I18n.t 'navigate.add_to_wishlist'
        %div{ ng: { show: 'feed.is_wished'} }= I18n.t 'navigate.remove_from_wishlist'
      %a.btn-buy-now.flex{ ng: { href: '{{feed.ui.buy_now_path}}' } }= I18n.t 'navigate.buy_now'
  .feeds-action{ ng: { if: 'feed.last_comment' } }
    .feeds-last-comment
      %h3
        {{feed.last_comment.owner.user_name}}
      %p
        {{feed.last_comment.text}}
    .feeds-comment.flex
      .feeds-comment-actions
        .reply
          %input{ id: 'reply-{{feed.id}}', name: 'option', type: 'checkbox', ng: { model: 'reply.post_id', true: { value: '{{feed.id}}' } } }
          %label{ for: 'reply-{{feed.id}}' }
          %span.arrow
      .feeds-comment-indicator
        %a.replies.option{ ng: { href: '/posts/{{::feed.id}}#replies' } }
          %span
            {{feed.last_comment.replies_count}}
            Replies
        .divider{ ng: { show: '(feed.last_comment || { likes_count: 0 }).likes_count > 0' } }
        %a.likes.option{ ng: { show: '(feed.last_comment || { likes_count: 0 }).likes_count > 0' } }
          %label{ for: 'likes', ng: { click: 'ui.onLikes()' } }
            %span{ ng: { hide: 'ui.likes_visible' } }
              {{feed.last_comment.likes_count}}
              Likes
            %span{ ng: { show: 'ui.likes_visible' } } Cancel
          %span.arrow
    .reply-comment-container.option-content{ ng: { show: 'reply.post_id == feed.id' } }
      %h3
        Reply to
        %span
          {{feed.last_comment.owner.user_name}}:
      %form{ ng: { submit: 'reply.submit(feed.last_comment)' } }
        %input{ placeholder: 'Type you comment', type: 'text', ng: { model: 'reply.text' } }
          %input{ type: 'submit', value: 'Post' }
    .recent-likes-container.option-content{ ng: { show: 'ui.likes_visible' } }
      %h3 Who like this:
      .recent-likes
        %a.liked-by{ ng: { repeat: 'like in feed.last_comment.likes' } }
          %img{ ng: { src: '{{like.owner.avatar}}' } }
        -#%a.liked-by-expand{ href: '#alllikes' }
        -#  %span.dot
    .share-with-container.option-content
      %h3 Share with
      .share-with-option
        %ul.flex.flex--row
          %li
            %a.s-icon.s-icon--fb{ href: '#' }
          %li
            %a.s-icon.s-icon--yt{ href: '#' }
          %li
            %a.s-icon.s-icon--tw{ href: '#' }
          %li
            %a.s-icon.s-icon--gp{ href: '#' }
          %li
            %a.s-icon.s-icon--vm{ href: '#' }
          %li
            %a.s-icon.s-icon--in{ href: '#' }
    .unavailable-view-container
      .close-wrapper
      %p
        Currently this AD is submitted to
        %a{ href: '#' } BMW Contest
        and can’t be purchased.
