%a.video-content.flex{ ng: { href: '/posts/{{relevant.id}}' } }
  %img.video{ ng: { src: '{{relevant.video.poster}}' } }
  .video-description.flex.flex--column
    %h3.creator.flex {{relevant.owner.user_name}}
    %h3.price ${{relevant.price}}
    %p.description {{relevant.description}}