.rel-video-container
  %relevant{ relevant: 'relevant', ng: { repeat: 'relevant in relevants' } }
  %input.btn-expand-rel-vid{type:'checkbox'}
  %label.btn-expand-wrapper.flex{ for:'btn-expand-rel-vid', ng: { if: 'false' } }