.create-packshot.wrap.wrap--my-ads-header{ ng: { show: "vm.ui.state == 'create' && vm.service.state == 'generate'" } }
  .content-main.flex.flex--desktop-mobile-flow
    .content-left.flex.flex--column
      %article
        %h3 We’ll automaticaly generate a packshot for you
        %p Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism minister predicts Cancun
      .btn-wrapper.flex.flex--column
        %input.btn.btn--blue-large{ name: 'preview-packshot', type: 'button', value: "{{vm.service.models.generate.video_job ? 'Generating packshot' : 'Preview packshot'}}", ng: { click: 'vm.ui.onPreview()', class: "{ disabled: !vm.ui.canPreview('generate') }" } }
        %input.btn.btn--blue-large{ name: 'cancel', type: 'button', value: 'Cancel', ng: { click: 'vm.ui.onCancel()' } }
    .content-right.flex.flex--column
      %label.title My brand name:
      %span.text-field
        %input{ name: 'brand-name', placeholder: 'Type your brand name', type: 'text', ng: { model: 'vm.edit.name', change: 'vm.ui.onChange()', class: "{ 'not-empty': vm.edit.name, empty: !vm.edit.name }" } }
        .error-message{ ng: { repeat: 'error in vm.data.errors.brand_name' } } {{error}}
        %label
      %label.title My brand slogan
      %span.text-field
        %input{ name: 'slogan-name', placeholder: 'Type your slogan', type: 'text', ng: { model: 'vm.edit.slogan', change: 'vm.ui.onChange()', class: "{ 'not-empty': vm.edit.slogan, empty: !vm.edit.slogan }" } }
        .error-message{ ng: { repeat: 'error in vm.data.errors.slogan' } } {{error}}
        %label
      %button.btn.btn--blue{ ng: { click: 'vm.ui.onSave()', show: 'vm.service.changed && vm.ui.is_ready' } }= I18n.t 'navigate.save'
.preview-packshot.wrap.wrap--my-ads-header(ng-if="vm.ui.state == 'preview' && vm.ui.preview_kind == 'video'")
  .content-main.flex.flex--desktop-mobile-flow
    .video-block.wrap.wrap--content.video-block-business
      %video.video.video-js.vjs-default-skin(ng-if="vm.vjs.is_ready && vm.demo"){ vjs: { video: '', media: 'vm.vjs.media', setup: 'vm.vjs.options', ratio: '1104:620' } }
      .video#video-player-try-packshot(ng-if="vm.demo")
.preview-packshot.wrap.wrap--my-ads-header{ ng: { if: "vm.ui.state == 'preview' && vm.ui.preview_kind == 'examples'" } }
  .content-main.flex.flex--desktop-mobile-flow
    .content-left.flex.flex--column
      %article>
        %h3
          This AD recently was tested
          with the following packshots
        %p Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism minister predicts Cancun
      .btn-wrapper.flex.flex--column
        %input.btn.btn--blue-large{ name: 'preview-packshot', type: 'button', value: 'Edit my packshot', ng: { click: 'vm.ui.onEdit()' } }
        %input.btn.btn--blue-large{ name: 'buy_now', type: 'button', value: I18n.t('navigate.buy_now'), ng: { click: 'vm.ui.onBuyNow()', class: '{ disabled: !vm.ui.is_ready }' } }
    .content-right.flex.flex--column
      .preview-container
        /todo: quick solution
        -#- [[307, 462], [310, 478], [309, 461], [308, 458]].each do |ids|
        - [[396, 462], [411, 478], [412, 461], [413, 458]].each do |ids|
          - packshot = Packshot.where(id: ids).first
          - next unless packshot && packshot.video?
          %div.com-packshot(ng-click="vm.ui.onExample(#{packshot.id})")
            = image_tag packshot.video.url(:medium)
.upload-packshot.wrap.wrap--my-ads-header{ ng: { show: "vm.ui.state == 'create' && vm.service.state == 'upload'" } }
  .content-main.flex.flex--desktop-mobile-flow
    .content-left.flex.flex--column
      %article
        %h3 We’ll automaticaly generate a packshot for you
        %p Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism minister predicts Cancun
      .btn-wrapper.flex.flex--column
        %input.btn.btn--blue-large{ name: 'preview-packshot', type: 'button', value: "{{vm.service.models.upload.video_job ? 'Generating packshot' : 'Preview packshot'}}", ng: { click: 'vm.ui.onPreview()', class: "{ disabled: !vm.ui.canPreview('upload') }" } }
        %input.btn.btn--blue-large{ name: 'cancel', type: 'button', value: 'Cancel', ng: { click: 'vm.ui.onCancel()' } }
    .content-right.flex.flex--column
      .input-wrap
        %label.title{ ng: { show: 'vm.ui.can_choose' } } Select your library
        %select#packshot{ ng: { options: 'ps.ui.name for ps in vm.data.packshots track by ps.id', model: 'vm.service.models.chosen', disabled: '!vm.ui.is_ready', show: 'vm.ui.can_choose' } }

      %label.divider.title(ng-show="vm.ui.can_choose && !vm.service.models.chosen") OR
      .drop.drop--customer_dark.upload{ ng: { class: "{ active: vm.ui.canUpload('upload') }" }, 'drop-file': true }
        .stage.stage--choose.flex.flex--column
          %span.drop-icon Drag &amp; Drop your packshot or
          %input#upload-packshot{ name: 'packshot[image]', type: 'file', 'upload-file': '', params: 'vm.ui.upload.params', 'before-request': 'vm.ui.upload.onBefore($data, $callback)', 'on-request-process': 'vm.ui.upload.onProcess($percent_complete)', on: { request: { success: 'vm.ui.upload.onSuccess($data)', error: 'vm.ui.upload.onError($errors)' } } }
            %label{ for: 'upload-packshot' } Browse
      .drop.drop--customer_dark.process{ ng: { class: '{ active: vm.ui.upload.percent }' } }
        .stage.stage--uploading.flex.flex--column
          %span.align #{I18n.t 'posts.new.step1.uploading'} {{vm.ui.upload.percent}}%
          %span.load
            .indicator{ style: 'width: calc({{vm.ui.upload.percent}} * 1%);' }
      .drop.drop--customer_dark.delete-prev{ ng: { class: '{ active: !vm.service.models.chosen && vm.service.edit.existsImage() }' } }
        .stage.flex.flex--row
          %span.file-prev
            {{vm.service.models.upload.image.file_name}}
            %small File size: {{vm.service.models.upload.image.ui.file_size}}
          %input{ name: 'some_name', type: 'hidden' }
            %label.btn.btn--blue{ for: '#', ng: { click: 'vm.ui.onRemoveAttachment()' } }= I18n.t 'navigate.delete'
        .error-message{ ng: { repeat: 'error in vm.data.errors.image' } } {{error}}
      .checkbox-wrapper.checkbox-wrapper--dark(ng-show="vm.ui.can_choose && !vm.service.models.chosen")
        %input#save_in{ name: 'save_in', type: 'checkbox', ng: { model: 'vm.service.models.upload.in_library', change: 'vm.ui.onInLibrary()', disabled: '!vm.ui.is_ready' } }
          -#%label.title{ for: 'save_in' } Save in My Packshot
      %input.btn.btn--blue-large{ name: 'Upload', type: 'button', value: I18n.t('navigate.upload'), ng: { show: 'vm.service.models.chosen', click: 'vm.ui.toUpload()' } }

.taber-container-wrap.wrap.wrap--my-ads-header{ ng: { if: "vm.ui.state == 'create'" } }
  .taber-container.taber-container--dark.flex
    %input{ name: 'options', type: 'radio', value: 'generate', ng: { model: 'vm.service.state' } }
    %label.tab-option.tab-option--left{ ng: { click: "vm.ui.onCreateKind('generate')" } }
      %span Generate packshot?
    %input{ name: 'options', type: 'radio', value: 'upload', ng: { model: 'vm.service.state' } }
    %label.tab-option{ ng: { click: "vm.ui.onCreateKind('upload')" } }
      %span Already have a packshot? Upload it!

  %style{type: 'text/css'}
    :plain
      .drop.upload { position: relative; }
      .dropFile input[type="file"] {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
      }